<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/admin.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <style>
        .active {
            color: red;
        }
    </style>
</head>
<body>
<div id="warning-message">Vui lòng sử dụng trên máy tính !</div>
<div class="admin-qltk">
    <div class="admin-qltk-left">
        <div class="admin-qltk-left-top-img">
            <img src="/Img/logo.jpg" alt="" />
            <span>ADMIN</span>
        </div>
        <div class="admin-qltk-top-list">
            <div class="accordion">
                <div class="contentBx">
                    <div class="accordion-label">
                        <ul>
                            <li>
                                <ion-icon name="person-add-outline"></ion-icon>
                                <span>Quản Lý Tài Khoản</span>
                            </li>
                        </ul>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>
                                <a href=""><span>Phân quyền</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Tài khoản</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><a>Tiến độ học</a> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="accordion-label">
                        <ul>
                            <li>
                                <ion-icon name="book-outline"></ion-icon>
                                <span>Quản Lý Khóa Học</span>
                            </li>
                        </ul>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>
                                <a href=""><span>Khóa Học</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Chương</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Nội Dung bài học</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Danh Mục Khóa Học</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Code Mã Khóa Học </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="accordion-label">
                        <ul>
                            <li>
                                <ion-icon name="card-outline"></ion-icon>
                                <span>Quản Lý Thanh Toán</span>
                            </li>
                        </ul>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>
                                <a href=""><span>Khóa học đã bán</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Thanh toán</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Lịch sử giao dịch</span></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href=""><span>Doanh thu</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="accordion-label">
                        <ul>
                            <li>
                                <ion-icon name="help-circle-outline"></ion-icon>
                                <span>Quản Lý Quiz</span>
                            </li>
                        </ul>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>
                                <span>Thêm bài quiz</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Thêm câu hỏi quiz</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Đáp án</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-qltk-left-bot">
            <div class="admin-qltk-left-bot-list">
                <ul>
                    <li>
                        <ion-icon name="log-in-outline"></ion-icon>
                        <span>Log out</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="admin-qltk-right">
        <div class="admin-qltk-right-top">
            <div class="admin-qltk-right-top-1">
                <input type="text" placeholder="Tap to search ..." />
                <ion-icon class="searchs" name="search-outline"></ion-icon>
            </div>
            <div class="admin-qltk-right-top-2">
                <ion-icon name="notifications-outline"></ion-icon>
                <div class="dropdown">
                    <img
                            onclick="myFunction()"
                            class="dropbtn"
                            src="/Img/user.webp" />
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-qltk-right-bot">
            <div id="w33" class="w3-bar">
                <button
                        class="w3-bar-item w3-button active"
                        onclick="openCity('quanLy')">
                    Quản Lý
                </button>
                <button
                        class="w3-bar-item w3-button"
                        onclick="openCity('danhSach')">
                    Danh Sách
                </button>
            </div>
            <div id="quanLy" class="w3-container city">
                <h1 style="text-align: center">Quản Lý Tài Khoản</h1>
                <div class="quanly_items">
                    <div class="quanly_items-l">
                        <div class="quanly_item-l">
                            <img src="./Img/Angular.png" alt="" />
                        </div>
                    </div>
                    <div class="quanly_items-r">
                        <div class="quanly_item-r">
                            <label for="">Tài Khoản</label>
                            <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Nhập tài khoản ...." />
                        </div>
                        <div class="quanly_item-r">
                            <label for="">Mật Khẩu</label>
                            <input
                                    type="password"
                                    name=""
                                    id=""
                                    placeholder="Nhập mật khẩu ...." />
                        </div>
                        <div class="quanly_item-r">
                            <label for="">Họ Tên</label>
                            <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Nhập mật khẩu ...." />
                        </div>
                        <div class="quanly_item-r">
                            <label for="">Email</label>
                            <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Nhập email ...." />
                        </div>
                        <div class="quanly_item-r">
                            <label for="">Số Điện Thoại</label>
                            <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Nhập số điện thoại ...." />
                        </div>
                        <div class="quanly_items-r-radio">
                            <label for="">Kích Hoạt Tài Khoản: </label>
                             
                            <div class="quanly_item-r-radio">
                                <input type="radio" id="html" name="radio" checked />
                                <label for="html">Kích Hoạt</label>
                            </div>
                             
                            <div class="quanly_item-r-radio">
                                <input type="radio" id="css" name="radio" />
                                <label for="css">Chưa Kích Hoạt</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quanLy-btn">
                    <button>Create</button>
                    <button>Update</button>
                    <button>Delete</button>
                    <button>Reset</button>
                </div>
            </div>

            <div id="danhSach" class="w3-container city" style="display: none">
                <table id="customers">
                    <tr>
                        <th>Ảnh</th>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Kích Hoạt</th>
                        <th>Số tiền</th>
                        <th>Hành Động</th>
                    </tr>
                    <tr>
                        <td>logo.jpg</td>
                        <td>trideptrai123</td>
                        <td>*************</td>
                        <td>Thanh Tri</td>
                        <td>tri123@gmail.com</td>
                        <td>0123456789</td>
                        <td>Đã Kích Hoạt</td>
                        <td>500.000đ</td>
                        <td>
                            <ion-icon name="trash-outline"></ion-icon>
                            <ion-icon name="create-outline"></ion-icon>
                        </td>
                    </tr>
                </table>
                <div class="pagination" style="padding: 40px 300px">
                    <a href="#">«</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">»</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var activeSpan = null;

    function activate(span) {
        if (activeSpan) {
            activeSpan.classList.remove("active");
        }
        span.classList.add("active");
        activeSpan = span;
    }
    const accordion = document.getElementsByClassName("contentBx");
    for (i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener("click", function () {
            this.classList.toggle("active");
        });

        const content = accordion[i].getElementsByClassName("accordion-content")[0];
        content.addEventListener("click", function (event) {
            event.stopPropagation();
        });
    }
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains("show")) {
                    openDropdown.classList.remove("show");
                }
            }
        }
    };
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }

    var btnContainer = document.getElementById("w33");
    var btns = btnContainer.getElementsByClassName("w3-button");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
    function checkScreenWidth() {
        var screenWidth = window.innerWidth;
        var Fullscreen = document.getElementsByClassName("admin-qltk");
        if (screenWidth < 1225) {
            Fullscreen.style.display = "none";
        } else {
            Fullscreen.style.display = "block";
        }
    }
    window.onload = checkScreenWidth;
    window.onresize = checkScreenWidth;
</script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
